*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-background{
    height:100vh;
   background-image: linear-gradient(90deg,rgba(65, 189, 255, 0.527),#c7ff608e),url("../images/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   
    margin: auto;
   
   
}
.row{
  margin: auto;
  min-height: auto;
}
h3{
    color: rgb(19, 158, 19);
}

textarea,p{
    min-height: 80px;
    
}
p{
    overflow: auto;
}
textarea:focus{

    outline: none;
}



